.App {
  text-align: center;
  color: white;
  background-color: black;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1.5rem 0;
}

.resume-entry {
  background-color: black;
  color: white;
  padding: 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.resume-entry:hover {
  background-color: #222;
}

.resume-entry.expanded {
  background-color: #222;
}
